*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #E5E5E5;
}
img{
    width: 100%;
    height: 100%;
}
.logo_container{
    width: 160px;
    height: 46%;
    margin-top: 16px;
    margin-bottom: 16px;
}
.header{
    background-color: white;
}
.text-grey{
    color: #6F7383;
}
.text-danger{
    color: #FD4100;
}
.mt-32{
    margin-top: 32px;
}

.container{
    width: 1280px;
    margin: 0 auto;
}
.row{
    display: flex;
}
.justify-spece-between{
    justify-content: space-between;
}
.filter-box{
    background: #FFFFFF;
    border: 1px solid #E2E5EB;
    box-shadow: 0px 4px 16px rgba(164, 174, 193, 0.1);
    border-radius: 12px 12px 0px 0px;
}
.justify-content-center{
    justify-content: center;
}
.d-flex{
    display: flex;
}
.tab-container{
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
}
.mt-23{
    margin-top: 23px;
}

.icon-box{
    width: 45px;
}
.filter-box-body{
    padding: 24px;
}
select{
    background: #FFFFFF;
    border: 1px solid #C2C9D8;
    border-radius: 8px;
    width: 100%;
}
hr{
    color: #E9E9F0;
}
.form-container{
    height: 40px;
    border: 1px solid #d8dbe2;
    border-radius: 8px;
    width: 100%;
}
.filter-box-footer{
    padding: 24pxs;
}
.search-btn{
    background-color: #FD4100;
    border-radius: 6px;
    border: none;
    color: white;
    width: 100%;
}
.card{
    background-color: white;
    padding: 13px;
}
.img{
    border-radius: 10px;
}
.car-name{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #272A37;
}
.description_container{
    padding: 16px;
}
.col-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
}
.col-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
}
.col-3 {
    flex: 0 0 auto;
    width: 25%;
}
.col-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}
.col-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
}
.col-6 {
    flex: 0 0 auto;
    width: 50%;
}
.col-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
}
.col-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
}
.col-9 {
    flex: 0 0 auto;
    width: 75%;
}
.col-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
}
.col-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
}
.col-12 {
    flex: 0 0 auto;
    width: 100%;
}

